:root {
    --main-color-1: #ebf5ff;
    --main-color-2: #1d6267;
}
*{
    overflow: hidden;
}

body {
    margin: 0;
    position: relative;
    padding: 0;
    font-family: 'Kufam', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.cont-1 {
    flex: 6;
    background: var(--main-color-1);
}

.cont-2 {
    flex: 4;
    background: var(--main-color-2);
}

p {
    font-weight: 800;
    font-size: 128px;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.p-1 {
    text-align: right;
    color: var(--main-color-2);
}

.coming {
    margin-top: 30px;
}

.icon {
    width: 250px;
    height: 150px;
    border-bottom-right-radius: 200px;
    background: transparen;
    border: 5px solid var(--main-color-2);
    position: absolute;
    top: 160px;
    left: -6px;
}

.logo {
    width: 250px;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.bg {
    width: 350px;
    position: absolute;
    top: 70px;
}

.container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.wav {
    position: absolute;
    width: 40px;
    height: 70px;
    background: #65959c;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: wave 4s infinite linear;
    top: -60px;
}

.w-2 {
    animation-delay: 0.3s;
    left: 35px;
}

.w-3 {
    animation-delay: 0.6s;
    left: 90px;
}

.w-4 {
    animation-delay: 0.9s;
    left: 145px;
}

.w-5 {
    animation-delay: 1.2s;
    left: 200px;
}


.wav.active {
    background-color: var(--main-color-1);
}

.per {
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-color: transparent;
    margin-top: 50px;
    position: absolute;
    bottom: 40px;
    left: 300px;
}

@media screen and (max-width:1024px) {
    p {
        font-size: 110px;
    }

    .wav {
        width: 35px;
        height: 60px;
    }

    .w-2 {
        left: 30px;
    }

    .w-3 {
        left: 80px;
    }

    .w-4 {
        left: 130px;
    }

    .w-5 {
        left: 180px;
    }

    .per {
        font-size: 45px;
        left: 265px;
    }

    .logo {
        width: 200px;
    }

    .icon {
        width: 200px;
        height: 120px;
    }

    .bg {
        width: 320px;
    }
}

@media screen and (max-width:760px) {
    p {
        font-size: 64px;
    }

     .cont-1 {
        z-index: 999;
    }

    .per {
        font-size: 24px;
        position: static;
    }

    .logo {
        width: 140px;
        bottom: 35px;
        left: 27px;
    }

    .icon {
        width: 107px;
        height: 83px;
    }

    .bg {
        width: 180px;
        margin-top: 179px;
        margin-left: -37px;
    }


    .wav {
        position: relative;
        width: 40px;
        height: 20px;
        background: #65959c;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        animation: wavee 2s infinite linear;
        top: -30px;
        left: 0px;
    }

    .w-2 {
        animation-delay: 0.3s;
        top: -35px;
    }

    .w-3 {
        animation-delay: 0.6s;
        top: -40px;
    }

    .w-4 {
        animation-delay: 0.9s;
        top: -45px;
    }

    .w-5 {
        animation-delay: 1.2s;
        top: -50px;
    }

    .comm {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 26px;
        right: 24px;
        width: 60px;
    }

    .container {
        display: flex;
    flex-direction: column;
    position: static;
    margin-bottom: -138px;
    height: 261px;
}
    }

}


@keyframes wave {
    0% {
        top: -60px;
    }

    25% {
        top: -80px;
    }

    50% {
        top: -60px;
    }

    75% {
        top: -80px;
    }

    100% {
        top: -60px;
    }
}

@keyframes wavee {
    0% {
        left: 0px;
    }

    25% {
        left: 10px;
    }

    50% {
        left: 0px;
    }

    75% {
        left: -10px;
    }

    100% {
        left: 0px;
    }

}